@import "../../../styles/variables";

.button {
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  min-width: 130px;
  background-color: $blue-color;
  transition: .2s all ease-in;

  &:hover {
    background-color: darken($blue-color, 5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  svg {
    margin: 0 5px;
  }
}
