@mixin indents-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@mixin shadow-text($color) {
  text-shadow: 2px 2px 2px rgba($color, 0.35);
}

// injection in after
@mixin background-blur($color-bg) {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: auto;
  height: 100%;
  z-index: -1;
  background: rgba($color-bg, .8);
  backdrop-filter: blur(5px);
}

@mixin card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
