@import "~normalize.css/normalize.css";
@import "variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.text-yellow {
  color: $yellow-color;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 4px;
  height: 0;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0;
}

::-webkit-scrollbar {
  width:  4px;
}

::-webkit-scrollbar-thumb {
  background: $blue-color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($blue-color, 10);
}

::-webkit-scrollbar-track {
  background: $title-color;
}
