@import "../../styles/mixins";
@import "../../styles/variables";

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;

  &:after {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba($black-color, .6);
  }

  &__bg {
    width: 100%;

    img {
      display: block;
      width: 100%;
      min-height: 100vh;
      height: fit-content;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    position: absolute;
    padding-top: 30vh;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    color: #fff;
  }

  &__photo {
    display: block;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto 60px auto;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      transition: .3s all;
    }
  }

  &__description {
    text-align: left;
    text-transform: uppercase;
  }

  &__sup-title {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 40px;

    span {
      display: inline-block;
      min-width: 100px;
    }

    span:after {
      display: inline-block;
      margin-left: 2px;
      transform: translateY(-5px);
    }
  }
}

.about {
  @include indents-section;

  &__title {
    margin-bottom: 50px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 40px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__skill {

  }

  &__skill-tile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    color: $title-color;

    svg {
      margin-right: 20px;
      font-size: 30px;

    }

    h5 {
      font-size: 17px;
    }
  }
}

.feedback {
  position: relative;
  @include indents-section;
  background-image: url("../../assets/img/feedback-bg-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: 100%;
    background: rgba($black-color, .7);
    z-index: 0;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__content {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
  }

  &__form-l, &__form-r {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__form-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    textarea {
      min-height: 137px;
    }
  }

  &__form-button {
    margin-top: auto;

    svg {
      margin-left: 10px;
    }
  }

  &__sent-form {
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
}

.contacts {
  @include indents-section;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 30px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .2s;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }

  &__item-title {
    svg {
      margin-right: 10px;
    }

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    color: $blue-color;
    @include shadow-text($blue-color);
    margin-bottom: 20px;
  }

  &__item-value {
    color: $title-color;
    font-style: normal;
    font-size: 18px;
  }
}
