@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: fixed;
  display: block;
  z-index: 999;
  bottom: -30px;
  right: 30px;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: $blue-color;
  font-size: 20px;
  text-align: center;
  background: transparent;
  transform: scale(0);
  transition: .2s all ease-in;

  &:after {
    @include background-blur($black-color);
  }

  &.show {
    transform: scale(1);
    bottom: 30px;
  }
}
